:root{
  --cc-red:hsl(0, 78%, 62%);
  --cc-cyan:hsl(180, 62%, 55%);
  --cc-Orange: hsl(34, 97%, 64%);
  --cc-Blue: hsl(212, 86%, 64%);

  --cc-dark-Blue: hsl(234, 12%, 34%);
  --cc-Grayish: hsl(229, 6%, 66%);
  --cc-Gray: hsl(0, 0%, 98%);

  --box-height:250px;
  --box-widht:350px;
}
*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  text-align: center;
  user-select: none;
  
  
}
p:not(.header){
  font-size: 10px;
  max-width: 300px;
  height: 90px;
  text-align: left;
  user-select: none;
}
.body{
  background-color: var(--cc-Gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-wrapper{
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: var(--cc-dark-Blue);
  font-weight:200;
  font-size: 35px;
}
h2 {
  margin-bottom: .5rem;
  font-weight: 600;
  color: var(--cc-dark-Blue);
  font-size: 35px;
}
.header{
  max-width: 500px;
  font-size: 15px;
  color: var(--cc-Grayish);
}
.layout-gird{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  column-gap: 30px;
  
}
.box:not(.sec),
.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: var(--box-widht);
  min-height: var(--box-height);
  padding: 20px;
  border-radius: 5px;
  
  transition: box-shadow .5s;
}
.box:not(.sec):hover,
.card:hover{
 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.185);

}



.box>p{
  text-align: left;
}
.box.first {
  border-top: 5px solid var(--cc-cyan);
  min-height: var(--box-height);
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.185);
}
.box.sec {
  
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  row-gap: 30px;
}
.box.third{
  border-top: 5px solid var(--cc-Blue);
  min-height: var(--box-height);
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.185);
}
.card {
  
 
  min-width: var(--box-widht);
  min-height: var(--box-height);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.185);

}
.one {
  border-top: 5px solid var(--cc-red);
}
.two {
  border-top: 5px solid var(--cc-Orange);
}
.img {
  align-self: flex-end;
  margin-right: 20px;
  justify-self: end;
  
}

h3{
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .layout-gird{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    row-gap: 30px;
    
  }
  body {
    padding-bottom: 50px;
  }
  
}